*{
    margin: 0px;
    padding: 0px;
}

.calendarinfo{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 40rem;
    padding-left: 1rem;
    background-color: rgb(235, 94, 94);
    align-items: center;
    border: black 2px solid;
    margin: 0.5px;
}

.calendar_change{
    font-size: 1rem;
}

.calendartitle{
    display: flex;
    justify-content: baseline;
    gap: 3rem;
    font-size: 4rem;
}

.calendarweek{
    margin: 0px;
    background-color: rgb(184, 183, 183);
    font-size: 1rem;
}

.calendarweek, .orden{
    display: grid;
    grid-template-columns: repeat(7,1fr); 
}


.calendar_day{
    border: rgb(223, 218, 218) solid 2px;
    padding: 1rem;
}

.fuera_mes{
    opacity: 0.4;
    color: #dd0b0b;
}

.orden_dia{
    height: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: rgb(163, 144, 144);
    border: rgb(223, 218, 218) solid 2px;
}


.dia_actual{
    background-color: rgb(77, 235, 130);
    color: #8b8b8b;
}

.bisiesto{
    color: goldenrod;
    background-color: #f81919;
}

.mensaje{
    display: flex;
    background-color: goldenrod;
    align-items: center;
}
.saludo{
    font-size: 1.5rem;
    padding: 15px;
}

.cambio{
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(163, 144, 144);
    
}